body {
    background-color: tan;
    text-align: center;
}

.square{
    border: 2px solid pink;
    height: 140px;
    width: 140px;
    font-size: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column{
    height: 100%;
    width: 100%;
    flex-direction: column;
}

.flex-wrap{
    flex-wrap: wrap;
    height: 432px;
    width: 432px;
}